


.line{
    cursor: pointer;  
    
}
.line>h3{color: var(--arrow);

}
.dummy{
    width: 100%;height: 22%;display: flex;flex-direction: column ;justify-content: center;
    background-color: var(--contentback);align-items:flex-end;border-radius: 10px;padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;gap: 1px;
    

}
.dummy>h5,.dummy>h3{color: var(--text-color);font-size: .9rem;}

.ProfileBasics{
    width: 100%;height: 80%;
    display: flex;justify-content:space-evenly;align-items:center;padding: 10px;
    color: var(--text-color)
    
    
}
.ProfileBasics>img{
    width: 60px;height: 60px;background-color:var(--bg-color);border-radius: 50%;

}
.separate{
    width: 40%;height: 100%;gap: 10px;
    display: flex;justify-content: center;align-items: center;padding: 10px;flex-direction: column;
    
}
.separatechilds{
    width: 100%;height: 40px;display: flex;align-items:center;
}
.separatechilds>.extra{
    width: 30%;text-align: right;padding: 0px 5px;
}
.separatechilds>input{background-color: transparent;width: 70%;height: 35px;border: 1px solid transparent;outline: none;padding:0px 5px  ; font-size: 1rem;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: bolder;
     color: var(--text-color);
}

.ProfileAnalytics{
    width: 100%;height: 65%;background-color: var(--contentback);border-radius: 10px;
    display: flex;gap: 10px;padding: 10px;flex-direction: column;align-items: center;
   font-size: 1rem;
  
  
}
.profileDummy{
    width: 100%;height: 80%;display: flex;gap: 10px;
   
}
.done,.improvements{
    width: 50%;height:100%;
    background-color: var(--card-bg);border-radius: 10px;
    display: flex;flex-direction: column;gap: 5px;
    justify-content:flex-start;align-items: flex-start;
    padding: 20px ;
}
.improvements{background-color: rgb(240, 87, 87);}
.done>h4{
    width: 50%;height: 40px;display: flex;align-items: center;gap: 10px;
}
.section{
    width: 100%;display: flex;padding: 1px;flex-direction: column;justify-items: flex-start;align-items: flex-start;gap: 10px;

}

.sectionOne{
    width: 100%;
    display: flex;justify-content: space-between;align-items: center;

   
}

.ProfileAnalytics>h3{font-weight: bolder;font-size: 1.3rem;color: var(--text-color);}


@media (max-width:500px){
    .ProfileBasics{font-size: .6rem;}
    .ProfileBasics>img{width: 60px;height: 60px;}
    .separate{width: 70%;}
    .ProfileBio{padding: 0px 5px;justify-content: flex-start;}
    .line{padding: 0px;font-size: .9rem;height:8%;}
    .separatechilds{width: 100%;gap: 3px;}
    .ProfileAnalytics{flex-direction: column;height: 340px;}
    .profileDummy{flex-direction: column;overflow-y: scroll;justify-content: space-around;padding: 10px;}
    .profileDummy:-webkit-scrollbar{display: none;}
    .done{width: 100%;gap: 0px;padding: 10px;height: 250px;}
    .improvements{width: 100%;gap: 0px;padding: 4px;}
    .sectionOne{padding: 1px;}
}