.RegisterFormSection{
    width: 100%;height: 100%;
    display: flex;flex-direction: column;justify-content: flex-start;align-items:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--backgroundcolor);
   
}

.Forms{
    width: 100%;height: 100%;
    display: flex;flex-direction: column;justify-content: center;align-items:center;
}


.line{
    width: 100%;
    padding: 10px;font-size: 1rem;
    color:white;
    cursor: pointer;
    
    
}
.RegistrationFrom{
    width: 45%;
    height: 60%;
    border-radius: 10px;
    padding: 10px;

    background-color:white;
    display: flex;flex-direction: column;gap: 10px;
    justify-content: flex-start;align-items: center;
    font-size: 1rem;
}
.LoginFrom{
    width: 46%;
    height: 50%;
    border-radius: 10px;
    padding: 10px;

    background-color: rgb(255, 255, 255);
    display: flex;flex-direction: column;gap: 10px;
    justify-content: flex-start;align-items: center;
    font-size: 1rem;
}
.formRow{
    width: 100%;
    display: flex;height: 50px;gap: 10px;align-items: center;
}
.formLabel{
    width: 20%;text-align: right;
}
.formRow>input{width: 80%;height: 40px;padding: 10px;border-radius: 10px;outline: none;border: 1px solid transparent;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.button{
   width: 20%; padding: 10px;border-radius: 10px;font-weight: bolder;cursor: pointer;
   background-color: brown;color: white;outline: none;border: 1px solid transparent;
}

@media (min-width: 500px) and (max-width: 768px){
    .RegistrationFrom,.LoginFrom{width: 50%;padding: 10px;height: 70%;}
    .button{padding: 10px;width: 25%;border-radius: 10px;}
}

@media (max-width: 500px) {
    .RegistrationFrom,.LoginFrom{width: 100%;padding: 10px;height: 70%;}
    .button{padding: 10px;width: 25%;border-radius: 10px;}
}